{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
  <h1 style="margin-bottom: 5px">
	  Cryptocurrency Convensor
  </h1>
  <p class="p3">
	  Choose two cryptocurrencies to convert each other.
  </p>
  <div class="center" style="max-width: 50%;">
	  <form autocomplete="off" action="/crypto-currency/" method="POST">
		  <div class="autocomplete" style="width: 40%;float: left;">
			  <p style="text-align: left;margin-left: 0px;margin-bottom: 0px">First Currency:</p>
			  <input id="f_name_input" class="i_text" type="text" name="f_name" placeholder="Ex: Bitcoin"
				 style="width: 100%" value="{{ req_json[0]['name'] }}">
			  <input type="number" value="{{ f_value }}" step="0.00000000001" min="0" 
	                         max="10" name="f_value" style="width: 100%" class="i_number">
		  </div>
		  <div style="width: 4%;display:inline-block;margin-top: 28px"><p>To 
		       <img src="/static/images/arrow.png" style="height: 25px;"></p>
		  </div>
		  <div class="autocomplete"  style="width: 40%;float: right">
			  <p style="text-align: left;margin-left: 0px;margin-bottom: 0px">Second Currency:</p>
			  <input id="s_name_input" class="i_text" type="text" name="s_name" placeholder="Ex: Iota"
				 style="width: 100%" value="{{ req_json[1]['name'] }}">
			  <p type="number" step="0.00000000001" min="0" max="10"
				 style="width: 100%;height: 23px;" class="i_number">{{ req_json[1]['value'] }}</p>
		  </div>
		  
		  <input type="submit" value="Convert" class="button1"><br><br>
	  </form>
  </div>
  <p>{{ result }}</p>
  <div id="hidden_div" style="display: none">
	<table class="table1">
		<tr>
			<td style="font-weight: 900">{{ req_json[0]['name'] }}: </td>
			<td></td>
			<td style="font-weight: 900">{{ req_json[1]['name'] }}: </td>
			<td></td>
		</tr>
		<tr>
			<td>Price now: </td>
			<td style="text-align: center">U$ {{ req_json[0]['price'] }}</td>
			<td>Price now: </td>
			<td style="text-align: center">U$ {{ req_json[1]['price'] }}</td>
		</tr>
	</table><br><br>

	<script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script>
		<coingecko-coin-compare-chart-widget  coin-ids="{{ req_json[0]['id'] }},{{ req_json[1]['id'] }}"
		currency="usd" locale="en"></coingecko-coin-compare-chart-widget>

  </div>

  {% if req_json != [{}, {}] %}
  	<script>
	  var h_div = document.getElementById("hidden_div");
	  h_div.style.display = "block";
	</script>
  {% endif %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
