{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="whitebox center">
  <h1 style="font-family: 'Poppins';margin: 50px;font-size: 300%;">
    APIs List
  </h1>
  <div class="center" style="width: 720px">
    <form action="/music-lyrics" style="float: left;">
      <input type="submit" value="Music Lyrics" class="button button1"/>
    </form>
    <form action="/music-lyrics" style="float: left;" >
  	    <input type="submit" value="API2" class="button button1"/>
    </form>
    <form action="/music-lyrics" style="float: left;">
	    <input type="submit" value="API3" class="button button1"/>
    </form><br><br><br><br><br><br>
    <form action="/music-lyrics" style="float: left;" >
	    <input type="submit" value="API4" class="button button1"/>
    </form>
    <form action="/music-lyrics" style="float: left;" >
	    <input type="submit" value="API5" class="button button1"/>
    </form>
    <form action="/music-lyrics" style="float: left;" >
      <input type="submit" value="API6" class="button button1"/>
    </form>
  </div>
</div>
{% endblock %}
