{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="whitebox center">
  <h1 style="margin: 50px;font-size: 300%;">
    APIs List
  </h1>
  <form action="/music-lyrics">
    <input type="submit" value="Music Lyrics" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
  	<input type="submit" value="API2" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
	<input type="submit" value="API3" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
	<input type="submit" value="API4" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
	<input type="submit" value="API5" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
	<input type="submit" value="API6" class="button button1"/><br>
  </form>
  <form action="/music-lyrics">
	<input type="submit" value="API7" class="button button1"/><br>
  </form>
{% endblock %}
