{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}


  <h1>
    Music Lyrics
  </h1>
  <p style="color: silver;margin-top: 0px;font-weight: 900;font-family: 'Poppins', sans-serif;"
    >Enter your favorite music!
  </p>
  <div style="max-width: 50%;" class="center">
    <form action="/music-lyrics/" method="POST">
      <p style="text-align: left;margin-left: 95px;">Artist:</p>
      <input type="text" class="i_text" name="artist" id="artist" size="45" placeholder="Ex: Slipknot"><br>
      <p style="text-align: left;margin-left: 95px;">Title:</p>
      <input type="text" class="i_text" name="title" id="title" size="45"  placeholder="Ex: Before I Forget"><br><br>
      <input type="submit" value="Search Music" class="button1"><br><br>
    </form>
  </div>
  <table style="text-align: left; margin-left: 150px">
    <tr>
      <td>Artist: </td>
      <td>{{ Artist }}</td>
    </tr>
    <tr>
      <td>Title: </td>
      <td>{{ Title }}</td>
    </tr>
    <tr>
      <td>Lyrics: </td>
    </tr>
  </table><br><br>
  <p style="text-align: left; margin-left: 150px; font-family: 'Poppins'; font-size: 20px">
    {% autoescape false %}
      {{ lyrics }}
    {% endautoescape %}
  </p>

  

 {% endblock %}
